.mat-spinner-white::ng-deep circle {
    stroke: #FFFFFF !important;
}

#toolbar {
    bottom: 30px;
    box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.1);
    left: 50%;
    transform: translate(-50%, 0);
}

#export {
    top: 20px;
    right: 20px;
}

#info {
    top: 20px;
    left: 20px;
}

#info * {
    border: none !important;
}

#export, #export *, #info, #info * {
    --toolbar-height: 45px;
    --toolbar-gap: 7px;
}
