* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    appearance: none;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    resize: none;
    user-select: none!important;
}

html, body {
    height: 100%;
}
